<nav class="fixed w-56 bg-white top-0 left-0 bottom-0 shadow-md flex flex-col justify-between">
    <a href="/" class="py-5 bg-blue-700 text-white text-center font-extrabold text-xl uppercase">Les nouvelles vies</a>
    <ul class="border-t border-gray-600">
        <li class="border-b border-gray-600">
            <a href="/" class="block hover:bg-gray-100 py-2 pl-2">Les déclarations</a>
        </li>
        <li class="border-b border-gray-600">
            <a href="/" class="block hover:bg-gray-100 py-2 pl-2">Les demandes</a>
        </li>
    </ul>

    <a href="/" class="py-5 bg-red-700 text-white text-center text-xl">Deconnexion</a>
</nav>
